---
- name: Update apt package index
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install Nginx
  apt:
    name: nginx
    state: present

- name: Ensure Nginx is enabled and running
  systemd:
    name: nginx
    enabled: yes
    state: started

- name: Wait for Nginx to respond on 80
  wait_for:
    port: 80
    delay: 2
    timeout: 10

